body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;

    background-image: url("{https://i.postimg.cc/4xgNnkfX/Untitled-design.png}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
}

header.css-k0sv6k.e8zbici2 {{
    background: url("{https://i.postimg.cc/4xgNnkfX/Untitled-design.png}");
}}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.25rem;
}

.streamlit-button {
    background-color: #1e88e5;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 16px;
    margin: 10px;
    cursor: pointer;
}

.streamlit-button:hover {
    background-color: #1565c0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f2f6;
    padding: 10px 20px;
    text-align: center;
}